@page "/birthdayscalendar"

@using EweDash.Services
@using EweDash.Models
@using System;
@using System.Collections.Generic;
@using Google.Apis.Auth.OAuth2;
@using Google.Apis.Calendar.v3.Data;

@inject BirthdayService birthdayService
@inject GoogleCalendarService googCalService

<h3 style="text-align:center; color:@_fontColor">Birthdays</h3>
<hr />

@if (calItemList.Count < 1)
{
    <img src="images/birthday.png" width="160" class="center">
}
else
{
    <h1 style="text-align:center; font-size:60px">
        @calItemList[0].Date
    </h1>
    <p style="color:@_fontColor; text-align:center">
        Days until @calItemList[0].Summary<br>
    </p>
}

@code {

    private String _fontColor = "black";
    private String _appName = "ewe-dash";
    private UserCredential _googCalCred;
    private Events _birthdaysEvents;
    private List<GoogleCalendarModel> calItemList = new List<GoogleCalendarModel>();

    protected override void OnInitialized()
    {
        _googCalCred = googCalService.getGoogleCalCred();
        _birthdaysEvents = birthdayService.getBirthdaysCalendar(_appName, _googCalCred);

        if (_birthdaysEvents.Items.Count > 0 && _birthdaysEvents.Items[0] != null)
        {
            foreach (var eventItem in _birthdaysEvents.Items)
            {
                GoogleCalendarModel calItem = new GoogleCalendarModel()
                {
                    Summary = "",
                    Date = ""
                };

                if (eventItem.Summary != null)
                {
                    calItem.Summary = eventItem.Summary;
                }

                var when = DateTime.Parse(eventItem.Start.Date);
                var today = DateTime.Today;
                var diff = (when - today).TotalDays.ToString();

                if (when != null)
                {
                    calItem.Date = diff;
                }

                calItemList.Add(calItem);
            }
        }
    }
}
