@page "/"

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 gridsquare">
            <CurrentTimePage />
        </div>
        <div class="col-md-3 gridsquare">
            <LocalWeatherPage />
        </div>
        <div class="col-md-3 gridsquare">
            <GoogleCalendarPage />
        </div>
        <div class="col-md-3 gridsquare">
            <GarbageCalendarPage />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 gridsquare">
            <SchoolBusPage />
        </div>
        <div class="col-md-3 gridsquare">
            <TrafficPage />
        </div>
        <div class="col-md-3 gridsquare">
            <OCTranspoPage />
        </div>
        <div class="col-md-3 gridsquare">
            <GoogleMailPage />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 gridsquare">
           <NetflixPage /> 
        </div>
        <div class="col-md-3 gridsquare">
            <RaptorsPage />
        </div>
        <div class="col-md-3 gridsquare">
            <BirthdayPage />
        </div>
        <div class="col-md-3 gridsquare">
            <HolidaysPage />
        </div>
    </div>
</div>
<br />
<hr />

@code
{


}


