@inherits LayoutComponentBase

<div class="main">
    <div class="header flex">
        <p>
            <img src="images/ewe.png" width="100">
        </p>
        <p>
           EWE DASH 
        </p>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
